@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans_Condensed-Regular.ttf");
}

body {
    overflow: hidden;
    background-color: gainsboro;
}

input::first-line {
    color:transparent;
}

.words {
    border: 1px solid #000000;
    margin-top: 20%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    overflow: hidden;
    padding-left: 0;
}

.words > *:not(input) {
    font-size: 20px;
}

.words > span:first-of-type {
    margin-left: 50%;
}

.words > input {
    position: absolute;
    left: 49.6%;
    outline: none;
    background: none;
    border: none;
    height: 20px;
    font-size: 20px;
}

.timeBar {
    position: absolute;
    border-radius: 0;
    margin-left: 45%;
    margin-top: 18%;
}

.timeBar::-webkit-progress-value {
    background-color: green;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    transition: 0.2s width linear;
}

.timeBar::-webkit-progress-bar {
    background: grey;
    box-shadow: 0 0 5px 0 black;
    border-radius: 5%;
}

input::-ms-value {
    color: transparent;
}

.fullscreen-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.over-tablet {
    width: 515px;
    height: 300px;
    position: absolute;

    background-color: #e9e4e4;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px grey;
    z-index: 2;

    display: none;
    flex-direction: column;

    transition: 1s display ease-out;
}

.close-button {
    border-radius: 50%;
    background-color: #fdf9f9;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.close-button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: black;
    rotate: 45deg;
    top: 23px;
    right: 15px;
    transition: transform 500ms ease-out;
}

.close-button::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: black;
    rotate: -45deg;
    top: 23px;
    right: 15px;
    transition: transform 500ms ease-out;
}

.close-button:hover::after {
    transform: rotate(180deg);
}

.close-button:hover::before {
    transform: rotate(-180deg);
}

.close-button:active {
    scale: 0.8;
    box-shadow: 0 0 20px 0px gray;
}

.close-button:active::after, .close-button:active::before {
    top: 13px;
    right: 5px;
}

.results {
    font-family: OpenSans;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    grid-area: result;
    margin-right: 30px;
}

.typing-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 30px;
    grid-area: typing-image;
    outline: none;
}

.typing-image:hover {
    outline: 1px solid red;
}

.share-button {
    grid-area: share;
    justify-self: center;
    cursor: pointer;
    width: 70px;
    margin-top: 30px;
}

.share-button:active {
    scale: 0.9;
    border-radius: 15%;
    box-shadow: 0 0 15px 1px gray;
    background-color: gray;
}

.inside-over-tablet {
    display: grid;
    grid-template-areas: "typing-image result"
                         "typing-image result"
                         "share share";
    column-gap: 60px;
}

@keyframes share-btn-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.share-button:hover {
    animation: 800ms share-btn-animation;
}

@keyframes blinking {
    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.2;
    }
    
    50% {
        opacity: 0.0;
    }
}

.blinking-tablet {
    position: absolute;
    width: 100%;
    height: 95px;
    background-image: linear-gradient(gray, red, gray);
    opacity: 0.8;
    padding: 5px;
    padding-left: 0;
    margin-top: 21%;
    text-align: center;
}

.blinking-tablet__text {
    animation: 1s infinite blinking;
    font-family: OpenSans;
    letter-spacing: 3px;
}

.stats-block {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 44.6%;
    top: 30%;
    display: grid;
    grid-template-areas: "wpm cpm accuracy"
                         "text text text";
    column-gap: 5px;
}

.wpm-block {
    height: 50px;
    width: 50px;
    background-image: radial-gradient(darkgray, gray, gainsboro);
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: wpm;
}

.stats-block__wpm {
    font-family: sans-serif;
    font-weight: bold;
}

.cpm-block {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: cpm;
    background-image: radial-gradient(darkgray, gray, gainsboro);
}

.stats-block__cpm {
    font-family: sans-serif;
    font-weight: bold;
}

.accuracy-block {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: accuracy;
    background-image: radial-gradient(darkgray, gray, gainsboro);
}

.stats-block__apm {
    font-family: sans-serif;
    font-weight: bold;
}

.text-block {
    grid-area: text;
    font-family: OpenSans;
    justify-self: center;
}

.text-block > *:not(:first-of-type) {
    margin-left: 5px;
}